body{
    background-color: rgb(221, 220, 233);
}

h1{
    text-align: center;
    color: rgb(192, 116, 123);
}

ul li{
    padding:10px;
    font-style: italic; 
}

img{
    margin: 15px 15px;
    border-radius: 10px;
}

p{
    font-size: 20px;
    font-style: justify;
}

.tabela{ 
    text-align: center;
    border: 1px solid black;
    
    margin: 15px 15px;
    padding: 20px;
    background-color: rgb(184, 151, 154);
}

.tabela td{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(190, 82, 93);
    border: 1px solid black;
}

.link:hover{
    color: red ;
}
    